body{
	background-color: cyan;
}	
img{
	width: 100%;	
}

#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	
}

#list{
	background-color: white;
}

#refreshButton{
	width: 40%;
}
#sendButton{
	width: 40%;
}

#saveButton {
		width: 40%;
}

