body{
	background-color: cyan;
	font-family:sans-serif;
}	
img{
	width: 100%;	
}

#content {
	width: 75%;
	margin: auto;
	text-align: center;
}

#bleDeviceList{
	text-align: center;
}	
#messageInput{
	
}

#list{
	background-color: white;
	text-align: center;
}

#refreshButton{
	width: 40%;
	text-align: center;
}
#sendButton{
	width: 40%;
	text-align: center;
}

#saveButton {
		width: 40%;
		text-align: center;
}

#plusButton {
		width: 15%;
		text-align: center;
}

#minusButton {
		width: 15%;
		text-align: center;
}
.page{
	display:none;
}
.page.active{
	display:block;
}
.page-link{
	cursor:pointer;
}